:root {
    --text-color: rgb(180, 180, 180);
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul ,li {
    list-style: none;
    -webkit-list-style:none;
}

.bold{
    font-weight: bold;
}

.text-white {
    color: #fff;
}

/*  */